@model CreateEventViewModel

<div class="row">
    <div class="col col-md-4">
        <h2>Review @Model.Events.Title</h2>

        <form asp-controller="UserIntrest" asp-action="Create" method="post">

            <input type="hidden" asp-for="Userintrests.EventId" value="@Model.Events.Id" />

            <input type="submit" class="btn btn-success" value="Intresserad"/>

        </form>
    </div>
</div>

