@model EventIntrestViewModel
<hr />

<h1>Intresserade</h1>

@foreach (UserIntrest userinterest in Model.userintrests)
{
    <div class="col col-md-12">
        <blockquote>
            @if (userinterest.Owner)
            {
            <h4 class="text-danger">@userinterest.UserName - ägare</h4>
            }
            else
            {
                <h5>@userinterest.UserName</h5>
            }
        </blockquote>
    </div>
}

@if (Model.userintrests.Count == 0)
{
    <div class="col col-md-12">
        <hr />
        <p>Inga har skrivit up sit på detta Event...</p>
    </div>
}
